# Xilinx ISE - carpetas y archivos generados al compilar/simular
_ngo/
_xmsgs/
iseconfig/
ipcore_dir/
isim/
xst/
xlnx_auto_0_xdb/
*.gise
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.wdb
*.xpi
*.xrpt
*.xst
*.xreport
*.log
*.html
*.xml
fuseRelaunch.cmd
webtalk*
usage_statistics*
par_usage_statistics*
